body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

h1, h4 {
  text-align: center;
}

table {
  width: 500px;
  height: 500px;
}

button.btn {
  width: 100px;
  
}

.layer-popup {
  display:none; position:absolute; left:50%; top:175px; z-index:10; padding:30px 30px 35px; margin-left:-235px; background-color:#fff; border:1px solid #000;
}

p.a1 {
  text-align: center;
  font-size: 13pt;
}

div.login-text {
  font-size: 12pt;
}

button.login-button {
  border: 0;
  margin: 0 auto;
  background-color: ;
}

.form-text {
  margin-bottom: 5px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 15px;
  color: #000;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 1;
  border-bottom-right-radius: 1;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}